<html>

<head>
    <title>REDIRECT SIBISA</title>
    <style>
        .flex {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: oldlace;
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <section class="flex">
        <h1 style="text-align: center;">SILAHKAN MASUK KE SIBISA VERSI 2.0: <br><a target="_blank"
                href="http://mbkm.fkip.ulm.ac.id">mbkm.fkip.ulm.ac.id</a></h1>
    </section>
</body>

</html>